.shell {}

:global(main#content) {
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  height: 100% !important;
}

:global(main#content > footer) {
  display: none !important;
}

