# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual env
.venv/
venv/

# IDE
.vscode/
.idea/

# Env files
.env
.env.*

# Storage
storage/public/ebooks/*
!storage/public/.gitkeep

# Local LLM weights
smollm-*-instruct/
models/
